body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
}

.assignment img{
    width: 200px;
    padding: 10px;
}

h1 {
    color: darkblue;
    text-align:center;
}